{% extends 'base.html' %}

{% block title %}
Listagem de livros
{% endblock title %}

{% block tituloPagina %}
Listagem de Livros
{% endblock tituloPagina %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Titulo</th>
      <th>Ano</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for livro in lista %}
    <tr>
      <td>{{ livro.autor }}</td>
      <td>{{ livro.titulo }}</td>
      <td>{{ livro.anoPublicacao }}</td>
      <td>
        <a href="{% url 'livro_edit' pk=livro.pk %}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a href="{% url 'livro_remove' pk=livro.pk %}">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{% url 'livro_new' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>

{% endblock content %}